* {
    box-sizing: border-box;
    font-family: helvetica;
    font-weight: 100;
}
body {
    margin: 0;
    background-color: rgba(233, 234, 236, 1);
    overflow-x: none;
}
.shadow {
    -webkit-box-shadow: 0 1px 9px -1px #ccc;
    -moz-box-shadow:    0 1px 9px -1px #ccc;
    box-shadow:         0 1px 9px -1px #ccc;
}
#app{
    text-align: center;
}
#logo{
    position: absolute;
    left: 30px;
    top: 20px;
    width: 70px;
}
#title{
    font-size: 30px;
    color: darkgrey;
    margin-top: 30px;
}
#sub-title{
    font-size: 12px;
    color: darkgrey;
    text-align: center;
}
#message{
    color: green;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
#warning{
    color: green;
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    margin: 30px;
    text-align: left;
}
.scale:hover{
    transform: scale(1.05);
}
.scale-more:hover{
    transform: scale(1.3);
}
.box{
    background-color: white;
    max-width: 400px;
    padding: 15px;
    height: 100%;
    white-space: pre;
    cursor: pointer;
}
.highlight{
    color: blue;
    font-weight: 400;
    margin: 5px 5px 15px 0;
}
.inline-block{
    display: inline-block;
}
.discrepancy{
    color: orange;
}
.bold{
    font-weight: bold;
    display: inline-block;
    white-space: pre;
}
#view{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#modal{
    position: relative;
    background-color: white;
    max-width: 500px;
    padding: 20px;
    white-space: pre;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#dim-background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
#x{
    float: right;
    margin-right: 10px;
    color: darkgrey;
    font-size: 18px;
    cursor: pointer;
}
